* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(255, 166, 0, 0.349);
  color: green;
  font-family: "Montserrat", monospace;
}

img:hover {
  height: 250px;
  width: 300px;
}

li {
  list-style: none;
  justify-content: left;
  align-items: center;
  padding: 14px;
  margin: 4px;
  position: relative;
  display: flex;
  max-width: 100%;
  border-radius: 2vh;
  background-color: rgba(255, 166, 0, 0.644);
}

p {
  max-width: 100%;
  justify-content: space-between;
}

#listItems {
  order: 2;
  display: flex;

  flex-wrap: nowrap;

  flex-direction: column;

  justify-content: space-between;
  padding-left: 15px;
  overflow: auto;
}

img {
  transition: 0.3s;
}

li {
  button {
    order: 3;
    position: absolute;
    right: 10px;
  }
}
