* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 166, 0, 0.349);
  color: green;
  font-family: "Montserrat", monospace;
}

li {
  list-style: none;
  justify-content: left;
  align-items: center;
  padding: 10px;
  margin: 4px;
  position: relative;
  display: flex;
  max-width: 100%;
  background-color: rgba(255, 166, 0, 0.644);
  // background-color: rgba(207, 42, 207, 0.747);
}

ul {
  width: 100%;
}

p {
  max-width: 100%;
}

div {
  border-radius: 5px;
}

#dashboard {
  width: 100%;
  height: 23vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
}

#userDetails{
  flex: 1 1 300px;
  padding-left: 5vw;
}

#chartContainer1 {
  padding-top: 20px;
  margin-right: 50px;
  height: 180px;
  flex: 1 1 300px;
}

#chartContainer2{
  padding-top: 20px;
  height: 180px;
  flex: 1 1 300px;//flex grow, shrink, basis
}

#uploadData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  order: 1;
  flex-basis: 50%;
  // background-color: rgba(36, 192, 36, 0.87);
  background-color: rgba(255, 166, 0, 0.644);
  margin: 25px;
  // padding: 5px;
}

#uploadData button {
  width: 200px;
  height: 40px;
  border: 1px solid black;
  transition: 0.3s;
}

.collection {
  display: flex;
  height: 77vh;
  background-color: rgba(255, 166, 0, 0.411);
  justify-content: space-between;
}

#statusBoard {
  flex-basis: 50%;
  order: 2;
  // background-color: purple;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  padding: 10px;
  margin: 15px;
}

img {
  z-index: 1;
  margin: 10px;
}

#donationForm {
  display: none;
  background-color: rgba(255, 166, 0, 0.548);
  padding: 30px;
}

#donationForm button {
  margin-top: 5px;
}

#finalDonate {
  display: none;
}

#gSignOut {
  position: absolute;
  right: 10px;
  z-index: 1;
}

#myBar {
  height: 30px;
  background-color: white;
  display: none;
  text-align: center;
}

#statusBar {
  width: 50%;
}

#loading {
  justify-content: center;
  align-items: center;
  margin: 300px auto;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  position: relative;
  animation: rotateit 1.3s linear infinite;
}

@-webkit-keyframes rotateit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/*=======================================================
  * Circles code taken from https://www.crazyegg.com/blog/loading-spinners-css3-animation/
  *======================================================*/
.spinner.circles div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: 35px;
  left: 45px;
}

.spinner.circles div:nth-child(1) {
  transform: rotate(0deg) translate(0, -35px) scale(1.4);
}

.spinner.circles div:nth-child(2) {
  transform: rotate(45deg) translate(0, -35px) scale(1.2);
  opacity: 0.7;
}
.spinner.circles div:nth-child(3) {
  transform: rotate(90deg) translate(0, -35px) scale(1.1);
  opacity: 0.6;
}
.spinner.circles div:nth-child(4) {
  transform: rotate(135deg) translate(0, -35px) scale(0.9);
  opacity: 0.5;
}
.spinner.circles div:nth-child(5) {
  transform: rotate(180deg) translate(0, -35px) scale(0.7);
  opacity: 0.4;
}
.spinner.circles div:nth-child(6) {
  transform: rotate(225deg) translate(0, -35px) scale(0.5);
  opacity: 0.3;
}
.spinner.circles div:nth-child(7) {
  transform: rotate(270deg) translate(0, -35px) scale(0.3);
  opacity: 0.2;
}
.spinner.circles div:nth-child(8) {
  transform: rotate(315deg) translate(0, -35px) scale(0.1);
  opacity: 0.1;
}
/*# sourceMappingURL=mainPage.css.map */

// #chartContainer1 {
//   width: 500px; // to be changed with media queries
//   height: 200px; // to be changed with media queries
//   position: fixed;
//   right: 20px;
// }

// #chartContainer2 {
//   width: 500px; // to be changed with media queries
//   height: 200px; // to be changed with media queries
//   right: 20px;
// }

#dashboard {
  p {
    font-size: 25px;
  }
}

#myDiv {
  padding: 2px;
}

li {
  .remove-item {
    position: absolute;
    // left: 30px;
    right: 5px;
  }
}

textarea {
  font-size: 20px;
}
