* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  // background-color: slategray;
  // background-color: rgba(255, 166, 0, 0.349);
  background-color: rgba(255, 166, 0, 0.411);
  color: green;
}

.dashboard {
  // background-color: teal;
  display: flex;
  flex: 1 1 25vw;
  height: 100vh;
  width: 25vw;
  margin-right: 5px;
  // margin: 15px;
  padding-left: 10px;
  background-color: rgba(255, 166, 0, 0.411);
}

.things-to-be-picked-up {
  // background-color: greenyellow;
  display: flex;
  flex: 1 1 75vw;
  height: 100vh;
  width: 75vw;
  flex-direction: column;
  padding: 5px;
  background-color: rgba(255, 166, 0, 0.411);
}

.collection {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

// FOR SPINNING ANIMATION //
#loading {
  justify-content: center;
  align-items: center;
  margin: 300px auto;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  position: relative;
  animation: rotateit 1.3s linear infinite;
}

@keyframes rotateit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/*=======================================================
  * Circles code taken from https://www.crazyegg.com/blog/loading-spinners-css3-animation/
  *======================================================*/
.spinner.circles div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: 35px;
  left: 45px;
}

.spinner.circles div:nth-child(1) {
  transform: rotate(0deg) translate(0, -35px) scale(1.4);
}

.spinner.circles div:nth-child(2) {
  transform: rotate(45deg) translate(0, -35px) scale(1.2);
  opacity: 0.7;
}

.spinner.circles div:nth-child(3) {
  transform: rotate(90deg) translate(0, -35px) scale(1.1);
  opacity: 0.6;
}

.spinner.circles div:nth-child(4) {
  transform: rotate(135deg) translate(0, -35px) scale(0.9);
  opacity: 0.5;
}

.spinner.circles div:nth-child(5) {
  transform: rotate(180deg) translate(0, -35px) scale(0.7);
  opacity: 0.4;
}

.spinner.circles div:nth-child(6) {
  transform: rotate(225deg) translate(0, -35px) scale(0.5);
  opacity: 0.3;
}

.spinner.circles div:nth-child(7) {
  transform: rotate(270deg) translate(0, -35px) scale(0.3);
  opacity: 0.2;
}

.spinner.circles div:nth-child(8) {
  transform: rotate(315deg) translate(0, -35px) scale(0.1);
  opacity: 0.1;
}

#goBack {
  position: absolute;
  right: 5px;
}

li {
  list-style: none;
}

.things-to-be-picked-up {
  ul {
    display: flex;
    flex-direction: column;
    margin: 10px;

    li {
      display: flex;
      align-items: center;
      padding: 25px;
      margin: 10px;
      background-color: rgba(255, 166, 0, 0.644);

      p {
        margin: 5px;
      }

      div {
        padding: 10px;
      }
    }
  }
}

.itemData {
  margin: 5px;
}

#ngo-name {
  font-size: 30px;
}
