* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  color: green;
  font-family: "Montserrat", Courier, monospace;
}

.every {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name {
  width: 40%;
  font-size: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.counter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 20%;
  width: 100%;
}

.number {
  font-size: 80px;
}

.counter h3 {
  margin: 10px;
}

div {
  margin: 3px;
  margin-bottom: 20px;
}

a {
  color: red;
}

.login a {
  color: green;
}

.login {
  cursor: pointer;
  width: 130px;
  height: 50px;
  background-color: #004d00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login:hover {
  background-color: green;
}

.Q {
  font-size: 26px;
}

#ngo-log {
  background-color: #004d00;
  cursor: pointer;
  width: 130px;
  height: 50px;
  position: fixed;
  right: 140px;
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ngo-log:hover {
  background-color: green;
}

.ngo-login-form {
  display: none;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
}

.ngo-login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.ngo-login-form form h1 {
  margin: 40px;
}

.ngo-login-form form .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px auto;
}

.ngo-login-form form label {
  display: inline-block;
  width: 250px;
}

.ngo-login-form form input {
  width: 250px;
  display: inline-block;
}

.ngo-login-form form label,
.ngo-login-form form input {
  margin: auto 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ngo-login-form .ngo-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 46px;
  margin: 50px auto;
  color: white;
  background-color: #004d00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.ngo-login-form .ngo-submit:hover {
  background-color: green;
}

#go-back {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

#cookie-consent {
  height: 35px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */