body{
    text-align: center;
    background-color: rgba(151, 241, 211, 0.719);
}

form{
    text-align: center;
    margin-top: 200px;
    margin-right: 1200px;
}

#sub{
    text-align: center;
    font-size: medium;
    display:inline;
    margin-right: 1200px;
}
